<!-- src/app/components/france-regional-maps/france-regional-maps.component.html -->
<div class="france-regional-maps-container flex flex-col md:flex-row h-full w-full gap-4 bg-white rounded-lg ">

    <!-- Students Map Container -->
    <div *ngIf="widget?.name === 'Étudiants par région'"
        class="map-card flex-1 bg-white rounded-lg  overflow-hidden flex flex-col">
        <h3 class="text-lg font-semibold p-4 border-b border-gray-200 text-center text-gray-800">{{ widget?.name }}</h3>
        <div class="map-and-legend-wrapper flex flex-grow">
            <div [id]="studentsMapId" class="map-chart-container flex-grow"></div>
            <!-- <div [id]="studentsLegendId" class="legend-container"></div> -->
        </div>
        <ng-container *ngIf="!studentsData">
            <div class="no-data-overlay">
                <mat-icon class="text-5xl text-gray-400">map</mat-icon>
                <p class="text-lg font-medium mt-2">No Students Data</p>
            </div>
        </ng-container>
    </div>

    <!-- Salary Map Container -->
    <div *ngIf="widget?.name === 'Salaire moyen par région (€)'"
        class="map-card flex-1 bg-white rounded-lg overflow-hidden flex flex-col">
        <h3 class="text-lg font-semibold p-4 border-b border-gray-200 text-center text-gray-800">{{ widget?.name }}</h3>
        <div class="map-and-legend-wrapper flex flex-grow">
            <div [id]="salaryMapId" class="map-chart-container flex-grow"></div>
            <!-- <div [id]="salaryLegendId" class="legend-container"></div> -->
        </div>
        <ng-container *ngIf="!salaryData">
            <div class="no-data-overlay">
                <mat-icon class="text-5xl text-gray-400">map</mat-icon>
                <p class="text-lg font-medium mt-2">No Salary Data</p>
            </div>
        </ng-container>
    </div>

</div>