<div class="metric-widget">
  <ng-container *ngIf="hasData && mainMetric">
    <h3 class="metric-title">{{ widget.title }}</h3>
    <div class="metric-value">
      <ng-container *ngIf="mainMetric.percentage !== undefined && mainMetric.percentage !== null">{{ mainMetric.percentage }}%</ng-container>
      <ng-container *ngIf="(mainMetric.percentage === undefined || mainMetric.percentage === null) && mainMetric.value !== undefined">{{ mainMetric.value }}</ng-container>
      <ng-container *ngIf="(mainMetric.percentage === undefined || mainMetric.percentage === null) && mainMetric.value === undefined">N/A</ng-container>
    </div>
    <div class="metric-subtitle" *ngIf="mainMetric.name">{{ mainMetric.name }}</div>
    <div class="metric-total" *ngIf="mainMetric.totalData !== undefined && mainMetric.value !== undefined">
      ({{ mainMetric.value }} / {{ mainMetric.totalData }})
    </div>
  </ng-container>
  <ng-container *ngIf="!hasData">
    <div class="metric-no-data">No Data Available</div>
    <mat-icon class="metric-no-data-icon">info</mat-icon>
  </ng-container>
</div>