/* src/app/components/widgets/pictorial-stacked-chart-widget/pictorial-stacked-chart-widget.component.scss */
.pictorial-stacked-chart-widget {
  height: 100%;
  width: 100%;
  position: relative;
  box-sizing: border-box;
  overflow: hidden; /* prevent chart overflow through widget */
}