.modal-content {
  /* background-color: white; */
  background-color: #eaf1f3;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
  max-width: 1200px;
  width: 100%;
  max-height: 80vh;
  overflow-y: auto;
  position: relative;
  display: flex;
  flex-direction: column;
  // transform: scale(0.8);
  animation: modalSlideIn 0.3s ease-out forwards;
}

.close-button {
  position: sticky;
  top: 15px;
  align-self: flex-end;
  background: #ff4757;
  border: none;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  padding: 0;
  box-sizing: border-box;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
  z-index: 20;
  aspect-ratio: 1 / 1;
  line-height: 0;
}

.close-button:hover {
  background: #ff3742;
  transform: scale(1.1);
}

.close-button svg {
  width: 16px;
  height: 16px;
  fill: white;
}
::ng-deep .mat-mdc-dialog-container.no-default-dialog-style {
  background: transparent !important;
  box-shadow: none !important;
  padding: 0 !important;
  overflow: visible;
  border-radius: 0;
}

::ng-deep .mat-mdc-dialog-surface {
  background: transparent !important;
  box-shadow: none !important;
  overflow: visible;
  padding: 0 !important;
  border-radius: 0;
}

::ng-deep .mat-mdc-dialog-inner-container {
  padding: 0 !important;
  display: flex;
  justify-content: center;
  align-items: center;
}