.section {
    /* beri padding di sekitar section agar judul tidak terlalu menempel di kiri */
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 16px;
}

.section-header h2 {
    margin: 0;
    /* geser sedikit dari kiri dan perbesar font */
    padding-left: 8px;
    font-size: 20px; /* sedikit lebih besar dari default */
    font-weight: 600;
    color: #0f172a; /* warna teks yang cukup gelap */
}

.status-grid-rowed {
      display: flex;
      flex-direction: column;
      gap: 14px;
      margin-top: 20px;
    }

    .status-row {
      display: grid;
      grid-template-columns: 200px repeat(4, 1fr);
      /* 1 for label, 4 for ES values */
      gap: 10px;
      align-items: center;
    }

    .status-category {
      font-weight: bold;
      font-size: 15px;
      color: #15616D;
    }

.status-value {
  background-color: #f5f7fa;
  padding: 10px;
  text-align: center;
  border-radius: 8px;
  font-size: 14px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.08);
  font-weight: 500;
}

:host-context(.theme-dark) .status-value { color: #0f172a !important; }
:host-context(.theme-dark) .status-value-title { color: #0f172a !important; }

    .status-value-title {
      /* background-color: #f5f7fa; */
      padding: 10px;
      text-align: center;
      /* border-radius: 8px; */
      font-size: 14px;
      /* box-shadow: 0 1px 3px rgba(0, 0, 0, 0.08); */
      font-weight: 500;
    }